.oohlala {
    font-family: fantasy;
    color: pink;
    text-align: center;
}

.sub{
    font-family:'Courier New', Courier, monospace;
    color: whitesmoke;
    text-align: center;
}

.titl{
    font-weight:bolder;
    font-family:fantasy;
    text-align: center;
}